    html {
        box-sizing: border-box;
    }

    *,
    *::before,
    *::after {
        box-sizing: inherit;
    }

    html,
    body {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
    }

    body {
        background: #ffffff url('../img/geometry2.png');
        /* Background pattern from Subtle Patterns */
        font-family: 'Coda', cursive;
    }

    .container,
    .modal-back {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    h1 {
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
    }
    /*
 * Styles for the deck of cards
 */

    .deck {
        background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin: 0 0 3em;
        width: 320px;
        min-height: 320px;
        padding: 12px;
        border-radius: 10px;
        box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    }

    .deck .card {
        background: #2e3d49;
        font-size: 0;
        color: #ffffff;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60px;
        width: 60px;
        border-radius: 8px;
        box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
    }

    .deck .card.open {
        transform: rotateY(0);
        background: #02b3e4;
        cursor: default;
    }

    .deck .card.close {
        background: #f00;
    }

    .deck .card.show {
        font-size: 33px;
    }

    .deck .card.match {
        cursor: default;
        background: #02ccba;
        font-size: 33px;
    }
    /*
 * Styles for the Score Panel
 */

    .score-panel {
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: space-between;
        width: 310px;
        margin-bottom: 10px;
        font-size: 1.2rem;
    }

    .score-panel ul {
        padding: 5px;
        display: flex;
        margin: 0 10px 0 0;
        justify-content: center;
    }

    .stars li,
    .score li {
        list-style: none;
        margin-left: 5px;
    }

    .score li {
        display: flex;
        flex-direction: column;
    }

    .end-score ul {
        padding-left: 0;
        justify-content: center;
    }

    .end-score .score li {
        flex-direction: row;
        margin-top: 5px;
        justify-content: space-between;
    }

    .stars li {
        display: inline-block;
        color: #fedd31;
    }

    .score-time {
        width: 80px;
    }

    .end-score .score-time {
        width: 150px;
    }

    .restart {
        margin-right: 10px;
        padding-top: 10px;
        border-radius: 5px;
        width: 50px;
        height: 50px;
        font-size: 1.5rem;
    }
    /*
* Styles for end dialog
*/

    .modal {
        display: flex;
        justify-content: center;
        flex-flow: column;
        align-items: center;
        text-align: center;
        z-index: 100;
        background: #fff;
        position: fixed;
        padding: 32px;
        top: 10%;
        margin: 0 auto;
        width: 310px;
        height: 400px;
        box-shadow: 0 0 60px 10px rgba(0, 0, 0, 0.9);
        border-radius: 5px;
    }

    .end-score,
    .end-score .score {
        display: flex;
        flex-flow: column;
    }

    .hide {
        display: none;
    }

    .modal-back {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 50;
        background: rgba(0, 0, 0, 0.6);
    }

    .close-modal,
    .restart {
        text-align: center;
        align-self: center;
        background: #02b3e4;
        cursor: pointer;        
        color: #fff;
    }

    .close-modal {
        font-size: 1.2rem;
        height: 40px;
        width: 110px;
        margin-top: 50px;
        padding-top: 5px;
        border-radius: 5px;
    }

    @media screen and (min-width: 769px) {
        .deck {
            width: 660px;
            min-height: 680px;
            padding: 32px;
            margin: 0 0 3em;
        }

        .deck .card {
            height: 125px;
            width: 125px;
        }
        .modal {
            position: fixed;
            top: 30%;
            width: 660px;
            height: 400px;
        }
    }